.table {
    border-collapse: collapse;
    margin-left: 24%; 
    
}

#posi{
    padding-bottom: 30px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td{
    padding: 15px;
}

.matias_bilde{
    height: 250px;
    border-radius: 50px;
}
