.table {
    border-collapse: collapse;
    margin-left: 32%; 
    
}

#posi{
    padding-bottom: 30px;
}

.button{
    background-color: green;
    color: white;
}
table, th, td {
border: 2px solid black;
}

.matias_bilde{
    height: 250px;
    border-radius: 50px;
}
